.nav-logo {
    color: black;
    font-family: 'Chonburi', cursive;
}
input {
    width: 500px;
    padding: 5px;
}
.links {
    font-size: 15px;
    font-family: 'Chonburi', cursive;
    color: black;
}