nav {
    text-align: center;
}
h1 {
    text-align: center;
}
.imagesDiv {
    width: 200px;
    height: 300px;
}
footer {
    text-align: center;
}
.resultsDiv {
    width: 300px;
    height: 300px;
}

