body {
    background-image: url("images/backround3.jpg");
    background-size: cover;
}
nav {
    text-align: center;
}
.nav-logo {
    margin-left: -50px;
    color: black;
    font-family: 'Chonburi', cursive;
}
.btn btn-sm {
    background-color: black;
    color: plum;
}
.hvr-pulse {
        display: inline-block;
        vertical-align: middle;
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        background-color: black;
        color: plum;
}
input {
    width: 475px;
    padding: 5px;
}
.links {
    font-size: 15px;
    font-family: 'Chonburi', cursive;
    color: black;
}
.hello {
    text-align: center;
    font-family: 'Merienda', cursive;
    color: purple;
    font-weight: bold;
}
h1 {
    text-align: center;
    font-family: 'Chonburi', cursive;
    font-weight: bold;
    text-shadow: 3px 3px plum;
    
}
p {
    text-align: center;
    font-family: 'Merienda', cursive;
}
.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
footer {
    text-align: center;
}
.container {
    display: flex;
    position: relative;
}
.resultsDiv {
    width: 300px;
    height: 300px;
}
.profileDiv {
    flex: 2;
    margin-left: 50px;
}
.reviewContainer {
    flex: 1;
}
.reviewDiv {
    width: 50;
    height: 75px;
    border-style: solid;
    border-color: black;
}

