body {
    background-image: url("images/backround3.jpg");
    background-size: cover;
}
nav {
    text-align: center;
}
.nav-logo {
    margin-left: -50px;
    color: black;
    font-family: 'Chonburi', cursive;
}
#profilePage {
    margin-left: 5px;
}
button {
    background-color: black;
    color: plum;
}
input {
    width: 475px;
    padding: 5px;
}
.links {
    font-size: 15px;
    font-family: 'Chonburi', cursive;
    color: black;
}
.hello {
    text-align: center;
    font-family: 'Merienda', cursive;
    color: purple;
    font-weight: bold;
}
h1 {
    text-align: center;
    font-family: 'Chonburi', cursive;
    font-weight: bold;
    text-shadow: 3px 3px plum;
    
}
p {
    text-align: center;
    font-family: 'Merienda', cursive;
}
.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
footer {
    text-align: center;
}
.topic {
    font-family: 'Merienda', cursive;
    font-size: 20px;
    font-weight: bolder;
}
.reviewContainer {
    text-align: center;
}
.reviewInput {
    width: 700px;
    height: 100px;
    border-style: solid;
    border-color: black;
}
.resultsDiv {
    width: 300px;
    height: 300px;
}
form {
    width: 900px;
    height: 1350px;
    margin-left: 225px;
    border: 5px solid black;
}
.basics {
    font-family: 'Merienda', cursive;
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
}
.basicsInput {
    margin-left: 200px;
    font-family: 'Merienda', cursive;
}
.custom-select {
    width: 475px;
    height: 50px;
    margin-left: 200px;
    text-align: center;
    font-family: 'Merienda', cursive;
}
#formSubmit {
    margin-left: 400px;
}
